.video {
    background-color: rgb(247, 249, 250);
    width: 75%;
    height: 80%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    margin-left: 2%;
    position: absolute;
    align-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.video h1 {
    top: 4rem;
    margin-block: revert;
    border: 1px solid #ddd;
}