.sidebar {
    height: 100%;
    width: 17%;
    background-color: rgb(228, 45, 45);
    overflow-y: hidden;
    margin: 0;
    display: inline-block;
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
}